<div id="<%= dom_id session %>">
  <p>
    <strong>Project:</strong>
    <%= session.project_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= session.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= session.name %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= session.private %>
  </p>

</div>
