<div class="flex-shrink-0 w-25">
  <%= image_tag @user.avatar_image_url, class: "me-3 rounded-circle img-cover img-medium" %>
</div>

<!--Username-->
<div class="d-flex justify-content-between align-items-center">
  <h1 class="mt-0 mb-3 display-4"><%= @user.username %></h1>

  <div>
    <span class="badge text-bg-secondary">
      <%= @user.private? ? "Private" : "Public" %>
    </span>
  </div>
</div>

<!--Bio-->
<div class="row mb-3">
  <h2><%= @user.username %></h2>
  <p><%= @user.bio %></p>
  <!--<a href=""><%#= @user.website %></a>-->
</div>

<h2>Own projects</h2>

<ul>
  <% @user.own_projects.each do |project| %>
    <%= render "projects/project", project: project %>
  <% end %>
</ul>
