<div id="<%= dom_id game_session %>">
  <p>
    <strong>Project:</strong>
    <%= game_session.project_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= game_session.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game_session.name %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= game_session.private %>
  </p>

</div>
