<div id="<%= dom_id project %>">
  <p>
    <strong>Creator:</strong>
    <%= project.creator_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= project.summary %>
  </p>

  <p>
    <strong>How to play:</strong>
    <%= project.how_to_play %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= project.max_players %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag project.image_url %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= project.private %>
  </p>

</div>
