<div id="<%= dom_id project %>">
  <p>
    <strong>Creator:</strong>
    <%= project.creator.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= project.summary %>
  </p>

  <p>
    <strong>How to play:</strong>
    <%= project.how_to_play %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= project.max_players %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(
      project.image? ? project.image_url : "placeholder.jpg"
    ) %>
  </p>

  <!--<p>
    <strong>Private:</strong>
    <%#= project.private %>-->
<!--  </p>-->

  <% if user_signed_in? %>
    <%= form_with(model: GameSession.new, url: game_sessions_path, local: true) do |f| %>
      <%= f.hidden_field :project_id, value: project.id %>
      <%= f.hidden_field :owner_id, value: current_user.id %>

      <div class="mb-2">
        <%= f.label :name, "Session Name" %>
        <%= f.text_field :name, required: true, class: "form-control", placeholder: "Enter session name" %>
      </div>

      <%= f.submit "Start Game Session", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in to start a session",
        new_user_session_path,
        class: "btn btn-outline-secondary" %>
  <% end %>

  <%= render "game_sessions/list",
      game_sessions: project.game_sessions.includes(:owner, :session_users) %>

</div>
