<div id="<%= dom_id project %>">
  <p>
    <strong>Owner:</strong>
    <%= project.owner_id %>
  </p>

  <p>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= project.summary %>
  </p>

  <p>
    <strong>How to play:</strong>
    <%= project.how_to_play %>
  </p>

  <p>
    <strong>Max players:</strong>
    <%= project.max_players %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= project.image %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= project.private %>
  </p>

</div>
