<div id="<%= dom_id playing_card %>">
  <p>
    <strong>Session:</strong>
    <%= playing_card.session_id %>
  </p>

  <p>
    <strong>Suit:</strong>
    <%= playing_card.suit %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= playing_card.rank %>
  </p>

  <p>
    <strong>Zone name:</strong>
    <%= playing_card.zone_name %>
  </p>

  <p>
    <strong>Face up:</strong>
    <%= playing_card.face_up %>
  </p>

  <p>
    <strong>Orientation:</strong>
    <%= playing_card.orientation %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= playing_card.position %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= playing_card.image_url %>
  </p>

  <p>
    <strong>Back image url:</strong>
    <%= playing_card.back_image_url %>
  </p>

</div>
