<%= turbo_stream.replace dom_id(@card) do %>
  <%= render "playing_cards/playing_card",
             card: @card,
             current_zone: @card.zone_name,
             can_interact: true %>
<% end %>

<%= turbo_stream.replace "zone-grid-#{@card.zone_name}" do %>
  <div class="zone-grid" id="zone-grid-<%= @card.zone_name %>">
    <% @card.game_session.playing_cards.in_zone(@card.zone_name).ordered.each do |card| %>
      <div class="card-slot">
        <%= render "playing_cards/playing_card",
                   card: card,
                   current_zone: @card.zone_name,
                   can_interact: true %>
      </div>
    <% end %>
  </div>
<% end %>
