<p style="color: green"><%= notice %></p>

<%= render @playing_card %>

<div>
  <%= link_to "Edit this playing card", edit_playing_card_path(@playing_card) %> |
  <%= link_to "Back to playing cards", playing_cards_path %>

  <%= button_to "Destroy this playing card", @playing_card, method: :delete %>
</div>
